body{
    background-color:wheat;
    color:lightcoral;
}
nav ul{
    display:flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
}
nav li{
    list-style:none;
    background-color:lightcoral;
    color:wheat;
    margin:40px;
    flex:1;
    min-width:200px;
    text-align:center;
}
nav a, nav a:visited{
    text-decoration:none;
}